@import '../util';
@import '../reset';

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @include flex-center;
}
.wrap {
    display: inline-block;
    font-size: 0;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .85);
    font-size: 16px;
    color: $white;
    z-index: 3;
    @include flex-center;
    flex-direction: column;

    &.hide {
        display: none;
    }
}

.control {
    button {
        border: none;
        margin: 10px 0;
        padding: 8px 12px;
        font-size: 18px;
        border-radius: 4px;
        background-color: $tr; 
        color: $white;
        cursor: pointer;
        display: block;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
            opacity: .85;
        }
    }
}