<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<title>nightcat-vue</title>
</head>
<body>
	<div id="app"></div>
	<button onclick="changeInfo()">改变info</button>
	<script src="../dist/vue/dep.js"></script>
	<script src="../dist/vue/observer.js"></script>
	<script src="../dist/vue/cat.js"></script>
	<script>
	window.Cat = Cat.default
	console.log('======================================')
	console.log('定义了全局的Cat，可在控制台中测试。使用方法：')
	console.log(`
		let app = new Cat({
		template: \`
			<div class="container">
				<h1>
					Hello, {{ info.name }}
					<br />
					<small>你点击了：{{ count }}次</small>
				</h1>
			</div>
		\`,
		el: document.getElementById('app'),
		data: {
			count: 0,
			info: {
				name: 'Nightcat',
				time: []
			}
		},
		watch: {
			count: function(v) {
				this.$data.info.time.push(Date.now())
				console.log('初始化监听的count变化：' + v)
			}
		}
	})
	
	app.$watch('count', function(v) {
		this.$data.info.time.push(Date.now())
		console.log('之后监听的count变化：' + v)
	})
	`)
	console.log('======================================')

	let app = new Cat({
		template: `
			<div class="container">
				<h1>
					Hello, {{ info.name }}
					<br />
					<small>你点击了：{{ count }}次</small>
				</h1>
			</div>
		`,
		el: document.getElementById('app'),
		data: {
			count: 0,
			info: {
				name: 'Nightcat',
				time: []
			}
		},
		watch: {
			count: function(v) {
				this.$data.info.time.push(Date.now())
				console.log('初始化监听的count变化：' + v)
			}
		}
	})
	
	app.$watch('count', function(v) {
		this.$data.info.time.push(Date.now())
		console.log('之后监听的count变化：' + v)
	})

	function changeInfo () {
		app.$data.count++
		//  目前仍需要手动重载
		app.__render()
	}

	</script>
</body>
</html>