<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<title>nightcat-vue</title>
</head>
<body>
	<div id="app">
		<h1>
			Hello, {{ name.firstName + name.lastName }}
			<br />
			<small>你点击了：{{ count }}次</small>
		</h1>
	</div>
	<button onclick="addCount()">点击</button>
	<script src="../dist/vue/observer.js"></script>
	<script src="../dist/vue/cat.js"></script>
	<script>
	window.Cat = Cat.default
	console.log('======================================')
	console.log('定义了全局的Cat，可在控制台中测试。使用方法：')
	console.log(`
		let app = new Cat({
			//  template 省略则取 html 中的模板
			template: '<h1>{{ name }}</h1>'
			el: document.getElementById('app'),
			data: {
				count: 0,
				name: {
					firstName: 'Night',
					lastName: 'Cat'
				},
			},
			watch: {
				count: function(v) {
					console.log('初始化监听的count变化：' + v)
				}
			}
		})
	`)
	console.log('======================================')

	let app = new Cat({
		el: document.getElementById('app'),
		data: {
			count: 0,
			name: {
				firstName: 'Night',
				lastName: 'Cat'
			},
		},
		watch: {
			count: function(v) {
				console.log('初始化监听的count变化：' + v)
			}
		}
	})

	app.$watch('count', function(v) {
		console.log('之后监听的count变化：' + v)
	})

	app.$watch('name', function (newName) {
		console.log('我的姓名发生了变化，可能是姓氏变了，也可能是名字变了。')
	})

	function addCount () {
		app.$data.count++
	}

	</script>
</body>
</html>