@import './util';
@import './reset';

body {
	background-color: $blue;
	width: 100vw;
	height: 100vh;
	@include flex-center;
}

h1 {
	color: $white;
	@extend .size;
	font-family: "Segoe UI";
}

.size {
	font-size: 50px;
}