/*
 * Beautiful Color
 */
$red: #E74C3C;
$dark-red: #C0392B;
$blue: #3498DB;
$dark-blue: #2980B9;
$yellow: #F1C40F;
$dark-yellow: #F39C12;
$green: #2ECC71;
$dark-green: #27AE60;
$orange: #E67E22;
$dark-orange: #D35400;
$purple: #9B59B6;
$dark-purple: #8E44AD;
$default: #34495E;
$dark-default: #2C3E50;
$gray: #95A5A6;
$dark-gray: #7F8C8D;
$black: #000;
$white: #FFF;
$tr: transparent;
$colors: ($red: #E74C3C, $blue: #3498DB, $yellow: #F1C40F, $green: #2ECC71, $orange: #E67E22, $purple: #9B59B6);

$nav-height: 50px;
/*
 * 垂直居中
 */
@mixin vertical-center($pos: 0) {
	@if($pos != 0) {
		position: $pos;
	}
	top: 50%;
	transform: translateY(-50%);
}

/*
 * 设置placeholder样式
 */
@mixin placeholder($color: #CCC, $font-size: inherit){
    &::-moz-placeholder {
        color: $color;
        font-size: $font-size;
    }
    &:-ms-input-placeholder {
        color: $color;
        font-size: $font-size;
    }
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $font-size;
    }
}

/*
 * flex 居中
 */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}