@import './util';
@import 'reset';

html {
	font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	background-color: $blue;
	width: 100vw;
	height: 100vh;
	@include flex-center;
	flex-direction: column;
}

h1 {
	font-size: 50px;
}

a {
	color: $white;
	margin: 10px;
	font-size: 18px;
}